.filterviewUl
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterviewUl>li
{
    border: 5px ridge #afbbf2;
    border-radius: 0px 19px 0px 19px;
    padding: 10px;;
    margin: 5px;
    background-color: #90BE6D;
}