.filterviewUl
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterviewUl>li
{
    border: 4px solid #ff6550;
    /* border: 5px ridge #afbbf2; */
    /* border-radius: 0px 19px 0px 19px; */
    padding: 10px;;
    margin: 5px;
    /* background-color: #90BE6D; */
}

.filterviewUl>li:hover
{
    border: 5px solid #ff6550;
    /* border: 5px ridge #afbbf2; */
    /* border-radius: 0px 19px 0px 19px; */
    padding: 10px;;
    margin: 5px;
    /* background-color: #90BE6D; */
}