.flexrow
{
    display: flex;
    flex-direction: row;
}

.flexcolumn
{
    display: flex;
    flex-direction: column;
}

.flex1
{
    flex-grow: 1;
}

.flex2
{
    flex-grow: 2;
}

.flexcenter
{
    align-items: center;
}

.darkback
{
    /* background-color: #90be6d; */

    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(29,29,29,1) 50%, rgba(29,29,29,1) 100%);
}

.lightback
{
    /* background-color: #4d908e;
     */
     background: rgb(226,225,245);
background: linear-gradient(0deg, rgba(226,225,245,1) 0%, rgba(223,223,233,1) 55%, rgba(240,233,233,1) 100%);
}
.clearfont
{
    color:#ebfffa;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}

.no-margin
{
    margin: 0px;
}

.no-padding
{
    padding: 0px;
}

.fullheight
{
    min-height: 100vh;
}

.fullwidth
{
    min-width: 100vw;
}

.fullparentwidth
{
    min-width: 100%;
}

.right-shadow
{
    -webkit-box-shadow: 5px 7px 15px -2px #000000; 
    box-shadow: 5px 7px 15px -2px #000000;
}

.left-shadow
{
    -webkit-box-shadow: -6px 7px 15px -2px #000000; 
    box-shadow: -6px 7px 15px -2px #000000;
}

.hidden
{
    display: none;
}

.clickable
{
    cursor: pointer;
}

.stick-left
{
    position: sticky;
    left: 0px;
    top:0px;
}

.stick-right
{
    position: sticky;
    right: 0px;
    top:0px;
}

.flexspacebetween
{
    justify-content: space-between;
}